{
  "ports": [
    {
      "name": "TTL-1",
  		"baudrate": 115200,
  		"databits": 8,
  		"stopbits": 1,
  		"packetSeparator": "",
      "udpInputIP": "",
  		"udpInputPort": 5000,
  		"udpOutputIP": "localhost",
  		"udpOutputPort": 5000
    },
    {
      "name": "TTL-2",
  		"baudrate": 115200,
  		"databits": 8,
  		"stopbits": 1,
  		"packetSeparator": "",
      "udpInputIP": "",
  		"udpInputPort": 5001,
  		"udpOutputIP": "localhost",
  		"udpOutputPort": 5000
    }
  ]
}
